# Training and Testing Data Set

From the given data set we are creating training and testing data set. Out of all data set 60% of data set is labeled which we will use for training our model and rest 40% of the data we will use to recommend items to our clients.

In [1]:
#importing packages
import pandas as pd
import numpy as np
import csv

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)

In [2]:
# reading the data set
df_demog = pd.read_excel("Data\Task_Data_Scientist_Dataset.xlsx",engine='openpyxl',sheet_name='Soc_Dem')
df_prod = pd.read_excel("Data\Task_Data_Scientist_Dataset.xlsx",engine='openpyxl',sheet_name='Products_ActBalance')
df_in_out = pd.read_excel("Data\Task_Data_Scientist_Dataset.xlsx",engine='openpyxl',sheet_name='Inflow_Outflow')
df_sales = pd.read_excel("Data\Task_Data_Scientist_Dataset.xlsx",engine='openpyxl',sheet_name='Sales_Revenues')

In [3]:
# merging that two data set having same shape
df = pd.merge(df_demog, df_prod, how="left", on=["Client"])
df = pd.merge(df, df_in_out, how="left", on=["Client"])

In [4]:
df.head(3)

,Client,Sex,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CC,Count_CL,ActBal_CA,ActBal_SA,ActBal_MF,ActBal_OVD,ActBal_CC,ActBal_CL,VolumeCred,VolumeCred_CA,TransactionsCred,TransactionsCred_CA,VolumeDeb,VolumeDeb_CA,VolumeDebCash_Card,VolumeDebCashless_Card,VolumeDeb_PaymentOrder,TransactionsDeb,TransactionsDeb_CA,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder
0,909,M,21,27,1,NaN,NaN,1.0,NaN,1.0,4.710714,NaN,NaN,0.0,NaN,4291.996429,789.129643,738.230000,4.0,3.0,450.678571,448.892857,178.571429,0.0,166.571429,8.0,7.0,1.0,0.0,4.0
1,1217,M,38,165,1,NaN,NaN,NaN,NaN,NaN,6752.244643,NaN,NaN,NaN,NaN,NaN,0.002143,0.002143,1.0,1.0,714.285714,714.285714,0.000000,0.0,714.285714,1.0,1.0,0.0,0.0,1.0
2,850,F,49,44,1,NaN,NaN,NaN,NaN,NaN,43.523214,NaN,NaN,NaN,NaN,NaN,1392.402857,1392.402857,3.0,3.0,1226.345357,1226.345357,0.000000,0.0,121.928571,6.0,6.0,0.0,0.0,1.0

In [5]:
df.shape

(1615, 30)

In [6]:
df_train = pd.merge(df, df_sales, how="outer", on=["Client"])

In [7]:
df_train.shape

(1615, 36)

In [8]:
df_test = df_train[df_train['Sale_CL'].isna()]

In [9]:
df_test.drop(['Sale_CL','Revenue_CL','Sale_MF','Revenue_MF','Sale_CC','Revenue_CC'],inplace = True,axis =1)

In [10]:
df_test.to_excel('Data\df_test.xlsx')

In [11]:
df_test.head(3)

,Client,Sex,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CC,Count_CL,ActBal_CA,ActBal_SA,ActBal_MF,ActBal_OVD,ActBal_CC,ActBal_CL,VolumeCred,VolumeCred_CA,TransactionsCred,TransactionsCred_CA,VolumeDeb,VolumeDeb_CA,VolumeDebCash_Card,VolumeDebCashless_Card,VolumeDeb_PaymentOrder,TransactionsDeb,TransactionsDeb_CA,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder
0,909,M,21,27,1,NaN,NaN,1.0,NaN,1.0,4.710714,NaN,NaN,0.0,NaN,4291.996429,789.129643,738.230000,4.0,3.0,450.678571,448.892857,178.571429,0.000000,166.571429,8.0,7.0,1.0,0.0,4.0
6,699,M,37,175,1,NaN,4.0,1.0,NaN,NaN,1823.057143,NaN,18491.444286,0.0,NaN,NaN,1033.496071,778.370000,8.0,6.0,661.483214,566.126071,89.285714,0.000000,216.892857,13.0,10.0,2.0,0.0,5.0
9,528,F,19,70,1,NaN,NaN,1.0,NaN,NaN,0.000000,NaN,NaN,0.0,NaN,NaN,435.682143,435.682143,2.0,2.0,390.056429,390.056429,125.000000,70.842143,190.821429,10.0,10.0,4.0,3.0,2.0