## Predicting Sales and Revenue New Data

In [33]:
#importing packages
import pandas as pd
import numpy as np
import pickle

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)

In [34]:
KNNImputer_CC = pickle.load(open('KNNImputer_CC.pkl', 'rb'))
KNNImputer_CL = pickle.load(open('KNNImputer_CL.pkl', 'rb'))
KNNImputer_MF = pickle.load(open('KNNImputer_MF.pkl', 'rb'))
model_lr_sale_cc = pickle.load(open('model_lr_sale_cc.pkl', 'rb'))
model_lr_sale_cl = pickle.load(open('model_lr_sale_cl.pkl', 'rb'))
model_lr_sale_mf = pickle.load(open('model_lr_sale_mf.pkl', 'rb'))
model_rf_revenue_cc = pickle.load(open('model_rf_revenue_cc.pkl', 'rb'))
model_rf_revenue_cl = pickle.load(open('model_rf_revenue_cl.pkl', 'rb'))
model_rf_revenue_mf = pickle.load(open('model_rf_revenue_mf.pkl', 'rb'))

In [44]:
df_test = pd.read_excel("Data\df_test.xlsx",engine='openpyxl')

In [45]:
df_test_client = df_test["Client"]

In [46]:
df_test.drop(['Unnamed: 0','Client'],inplace = True,axis =1)

In [47]:
df_test_cl = df_test.copy().drop(['Count_CL','ActBal_CL'],axis = 1)
df_test_cc = df_test.copy().drop(['Count_CC','ActBal_CC'],axis = 1)
df_test_mf = df_test.copy().drop(['Count_MF','ActBal_MF'],axis = 1)

##### Pre-Processing steps that we performed on Training

##### For Consumer Loan

In [48]:
# # dropping columns
# columns_sale_cl = ['Count_CC','ActBal_CC']
# df_test.drop(columns_sale_cl,inplace = True,axis = 1)

In [49]:
# replacing null values with U (Unknown) if any
df_test_cl.Sex = df_test_cl.Sex.replace(np.nan,"U",regex=True)

In [50]:
# converting M and F to 1 and 0
df_test_cl.Sex = df_test_cl.Sex.replace({'M':1, 'F':0,'U':2})

In [51]:
# imputing age with tenure + 120 months if tenure is more than Age
df_test_cl.Age = np.where((df_test_cl.Age *12 <= df_test_cl.Tenure),round(df_test_cl.Tenure/12) + 10,df_test_cl.Age)

In [52]:
# imputing other null values with 0 in the data set
df_test_cl.fillna(0,inplace = True)

##### For Consumer Loan

In [55]:
col_test_CL = df_test_cl.columns
df_test_cl.Age = df_test_cl.Age.mask(df_test_cl.Age <= 10)
df_test_cl[col_test_CL] = KNNImputer_CL.transform(df_test_cl.values)

ValueError: X has 27 features, but KNNImputer is expecting 30 features as input.

In [389]:
# predicting the values using X_test data set
# y_pred_lr_mf = model_lr.predict(df_test)

In [390]:
y_pred_lr_mf_prob_mf= model_lr.predict_proba(df_test)

In [405]:
y_pred_lr_mf_prob_mf[:,1]

array([0.31319103, 0.42716713, 0.40069236, 0.33814086, 0.30598454,
       0.33605606, 0.17403273, 0.30987917, 0.38934403, 0.35518484,
       0.33663226, 0.23385113, 0.32943427, 0.32170857, 0.2637446 ,
       0.49505481, 0.24803464, 0.41163619, 0.35709945, 0.30242156,
       0.35115267, 0.41249115, 0.35064034, 0.34587333, 0.33080454,
       0.32981565, 0.51435173, 0.49167462, 0.367729  , 0.34477075,
       0.34022161, 0.33557618, 0.48840957, 0.40709429, 0.35270462,
       0.42268428, 0.31685266, 0.36883466, 0.35558784, 0.44662227,
       0.41652656, 0.32817327, 0.34368312, 0.37740779, 0.3741009 ,
       0.31521417, 0.35357676, 0.44102155, 0.22105151, 0.43393074,
       0.37163416, 0.31386158, 0.67268458, 0.44830216, 0.42769014,
       0.37962227, 0.41070903, 0.34631074, 0.32074248, 0.3982096 ,
       0.37538382, 0.25469894, 0.31688082, 0.48323788, 0.41881427,
       0.39407899, 0.29017884, 0.34280372, 0.59809941, 0.34785321,
       0.25656595, 0.38164086, 0.31616948, 0.38072328, 0.32550591,
       0.27700538, 0.32642943, 0.39812922, 0.52335203, 0.26189208,
       0.33266047, 0.31665943, 0.31197917, 0.34581985, 0.26280184,
       0.39247342, 0.39157673, 0.36904884, 0.4247005 , 0.50029289,
       0.34731177, 0.48621889, 0.37344186, 0.24467609, 0.41627233,
       0.40067183, 0.35780131, 0.34008048, 0.27111342, 0.33388155,
       0.32721317, 0.33171849, 0.41191317, 0.97216311, 0.4101748 ,
       0.37143443, 0.34833739, 0.45731246, 0.48552921, 0.37413258,
       0.34652306, 0.36509017, 0.36673486, 0.34851512, 0.29745669,
       0.35384442, 0.3393334 , 0.31651155, 0.42198482, 0.37790377,
       0.66409918, 0.36669505, 0.41863042, 0.35486318, 0.31288714,
       0.32692858, 0.3586423 , 0.5477363 , 0.34526264, 0.33311385,
       0.34610963, 0.29713624, 0.33141671, 0.43756405, 0.32026514,
       0.3670423 , 0.31672562, 0.3318948 , 0.34024548, 0.40459569,
       0.35428145, 0.38074679, 0.32031365, 0.32906281, 0.46028208,
       0.31196727, 0.37886703, 0.40359296, 0.39651632, 0.22851707,
       0.36905015, 0.32532349, 0.36438872, 0.34828017, 0.39003388,
       0.36251362, 0.33242114, 0.45441709, 0.33788635, 0.41241822,
       0.35339132, 0.29489462, 0.35857412, 0.40128834, 0.36603101,
       0.42147435, 0.38086596, 0.38796345, 0.42568283, 0.32273338,
       0.34103946, 0.26695704, 0.37819796, 0.34509075, 0.33907809,
       0.28589875, 0.33817308, 0.34639227, 0.36629098, 0.3223007 ,
       0.35688779, 0.35488723, 0.42197873, 0.34288862, 0.43832328,
       0.32139577, 0.34645007, 0.39142725, 0.26598278, 0.36442039,
       0.34905729, 0.37373724, 0.34947376, 0.31024007, 0.4002932 ,
       0.36616731, 0.39885512, 0.32699236, 0.43056035, 0.37190152,
       0.38094877, 0.42061096, 0.38403147, 0.44128164, 0.34615601,
       0.46501738, 0.43655891, 0.34506533, 0.29289264, 0.80440002,
       0.31942848, 0.17779396, 0.40142073, 0.19817876, 0.32814225,
       0.39172672, 0.35877479, 0.30656072, 0.47051238, 0.37378254,
       0.31770893, 0.3914782 , 0.37423739, 0.31523011, 0.41679784,
       0.3239722 , 0.41291688, 0.38708335, 0.35654282, 0.38794569,
       0.46370518, 0.29956052, 0.44761771, 0.32150193, 0.43020685,
       0.34412669, 0.35499997, 0.33991638, 0.38259146, 0.37273754,
       0.3406736 , 0.37375007, 0.59034255, 0.44350702, 0.25176138,
       0.39657929, 0.44172202, 0.35329408, 0.43499325, 0.39202777,
       0.34724862, 0.31845881, 0.36681274, 0.51210031, 0.29427466,
       0.40119577, 0.31684379, 0.49767571, 0.27714329, 0.37863479,
       0.30896703, 0.36438922, 0.46936416, 0.24016667, 0.32112245,
       0.42019546, 0.61171891, 0.33212828, 0.3427596 , 0.51676073,
       0.3481149 , 0.41145747, 0.43932692, 0.41886193, 0.350698  ,
       0.32690831, 0.24587068, 0.35198271, 0.43240532, 0.34032464,
       0.35516464, 0.24007122, 0.52690193, 0.32647081, 0.40445002,
       0.64339891, 0.53651967, 0.32293967, 0.11780935, 0.25975354,
       0.48373801, 0.42333597, 0.35190441, 0.43575165, 0.80296475,
       0.38795199, 0.37647341, 0.29489696, 0.40076417, 0.33745848,
       0.3357267 , 0.58351374, 0.39587356, 0.26530781, 0.39505738,
       0.3910401 , 0.37647471, 0.34253584, 0.40150833, 0.41507941,
       0.46431033, 0.35293147, 0.27078553, 0.27915654, 0.34509729,
       0.36644269, 0.37338831, 0.34752828, 0.37693269, 0.37724292,
       0.30538266, 0.36518367, 0.33757382, 0.35318097, 0.4130466 ,
       0.4400506 , 0.47208105, 0.31542539, 0.41282904, 0.23763092,
       0.41293052, 0.33460342, 0.41145129, 0.38160904, 0.4965267 ,
       0.3318855 , 0.31050589, 0.40614995, 0.43588027, 0.31680782,
       0.33247175, 0.37983007, 0.47918631, 0.46805257, 0.35240208,
       0.33307433, 0.42429465, 0.35030716, 0.39086816, 0.41458808,
       0.31337021, 0.40728693, 0.34137815, 0.36376235, 0.32145049,
       0.34704571, 0.3265485 , 0.46366344, 0.33634393, 0.41175561,
       0.33687918, 0.36499913, 0.33107879, 0.31006931, 0.3391316 ,
       0.39496274, 0.30403143, 0.3973349 , 0.37777813, 0.46228364,
       0.34224103, 0.35144049, 0.3361214 , 0.35852629, 0.35263004,
       0.35339167, 0.43188848, 0.41753386, 0.34601427, 0.32725931,
       0.3052165 , 0.33139296, 0.40729755, 0.33996065, 0.3680736 ,
       0.42664801, 0.32788775, 0.51724253, 0.40715778, 0.40378965,
       0.43539568, 0.31977218, 0.33424764, 0.44357306, 0.34724474,
       0.36448849, 0.42373919, 0.31802687, 0.30689134, 0.46987986,
       0.5062848 , 0.36808118, 0.33580645, 0.36980003, 0.41669318,
       0.3570874 , 0.4139875 , 0.29854635, 0.43788688, 0.27037075,
       0.30958778, 0.49540583, 0.31644098, 0.35552749, 0.31748965,
       0.23703883, 0.40996788, 0.36040357, 0.36541918, 0.32507411,
       0.29499748, 0.51890166, 0.43147301, 0.41353791, 0.38424411,
       0.31527394, 0.34087664, 0.42686361, 0.31168897, 0.35724981,
       0.35567823, 0.33654884, 0.36681092, 0.44662103, 0.40219929,
       0.35622042, 0.52252709, 0.32860489, 0.31145132, 0.55443729,
       0.39020528, 0.33983185, 0.39190145, 0.46414075, 0.41467998,
       0.32719681, 0.39690836, 0.34633205, 0.43430727, 0.35476018,
       0.49412047, 0.32560633, 0.32785422, 0.34981912, 0.34986807,
       0.31074137, 0.3427199 , 0.30735421, 0.31937428, 0.35935642,
       0.33287158, 0.52064592, 0.33866789, 0.47129038, 0.40785554,
       0.37328325, 0.43936798, 0.3701332 , 0.29168398, 0.33060527,
       0.4134452 , 0.34401676, 0.33544765, 0.34135539, 0.40179908,
       0.34210168, 0.32067791, 0.33987058, 0.29390236, 0.71940903,
       0.48442283, 0.38062612, 0.32857519, 0.49644793, 0.33154323,
       0.33245295, 0.42566153, 0.51722029, 0.40458553, 0.32690447,
       0.26490745, 0.32460843, 0.38800393, 0.39247399, 0.51809763,
       0.54679054, 0.41140826, 0.34095592, 0.28727786, 0.32221919,
       0.21321967, 0.40744364, 0.3099179 , 0.61982741, 0.34103098,
       0.33521334, 0.37754794, 0.60239135, 0.27515601, 0.44709329,
       0.32006875, 0.40046072, 0.51212257, 0.32347355, 0.33016777,
       0.27838553, 0.37265845, 0.40267285, 0.38995544, 0.3464946 ,
       0.49431307, 0.37949773, 0.34751851, 0.3507515 , 0.34106361,
       0.49463271, 0.39561837, 0.36263242, 0.25947654, 0.37086636,
       0.35977307, 0.31962148, 0.32581981, 0.35640643, 0.51336583,
       0.37989848, 0.42899206, 0.34705873, 0.41735483, 0.28440562,
       0.3991741 , 0.47241765, 0.40974001, 0.34568489, 0.49900897,
       0.3040053 , 0.41043464, 0.30796181, 0.23621231, 0.4069993 ,
       0.32060959, 0.49100259, 0.36433818, 0.4800007 , 0.33685837,
       0.35026905, 0.38556287, 0.32849872, 0.29927542, 0.24950982,
       0.56131758, 0.28690884, 0.35075803, 0.34966575, 0.36243045,
       0.33364327, 0.24474386, 0.43158002, 0.3559263 , 0.43887791,
       0.41913934, 0.34479062, 0.32843362, 0.38239922, 0.63974222,
       0.35278515, 0.60963987, 0.40209548, 0.32997303, 0.41833072,
       0.38971271, 0.22788047, 0.37509012, 0.36020061, 0.34925981,
       0.37049095, 0.35522624, 0.62807335, 0.40391903, 0.28631338,
       0.32002698, 0.38824001, 0.31070904, 0.2805578 , 0.42389672,
       0.34804577, 0.32727834, 0.32824028, 0.40659192, 0.48220064,
       0.32672358, 0.30843819, 0.33822358, 0.22973597, 0.34848844,
       0.31406086, 0.37084266, 0.51013242, 0.33839693, 0.34360134,
       0.27892813, 0.40775081, 0.35596583, 0.37299976, 0.3967075 ,
       0.36222981, 0.34279509, 0.41014539, 0.25572886, 0.37351255,
       0.36349963, 0.35241177, 0.25940858, 0.36924784, 0.32242635,
       0.32731261, 0.40325567, 0.44974675, 0.33357688, 0.35973272,
       0.45495728, 0.44031675, 0.33784096, 0.42214496, 0.36638125,
       0.34873961, 0.34217371, 0.28743806, 0.40375367, 0.28491656,
       0.34938165, 0.39900163, 0.34467237, 0.39684662, 0.39541649,
       0.41748423])

In [391]:
df_test['Sale_MF'] = y_pred_lr_mf

In [392]:
df_test.head(3)

,Sex,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CL,ActBal_CA,ActBal_SA,ActBal_MF,ActBal_OVD,ActBal_CL,VolumeCred,VolumeCred_CA,TransactionsCred,TransactionsCred_CA,VolumeDeb,VolumeDeb_CA,VolumeDebCash_Card,VolumeDebCashless_Card,VolumeDeb_PaymentOrder,TransactionsDeb,TransactionsDeb_CA,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder,Sale_MF
0,1.0,21.0,27.0,1.0,0.0,0.0,1.0,1.0,4.710714,0.0,0.000000,0.0,4291.996429,789.129643,738.230000,4.0,3.0,450.678571,448.892857,178.571429,0.000000,166.571429,8.0,7.0,1.0,0.0,4.0,0
1,1.0,37.0,175.0,1.0,0.0,4.0,1.0,0.0,1823.057143,0.0,18491.444286,0.0,0.000000,1033.496071,778.370000,8.0,6.0,661.483214,566.126071,89.285714,0.000000,216.892857,13.0,10.0,2.0,0.0,5.0,0
2,0.0,19.0,70.0,1.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,435.682143,435.682143,2.0,2.0,390.056429,390.056429,125.000000,70.842143,190.821429,10.0,10.0,4.0,3.0,2.0,0

In [393]:
y_pred_rf_mf = model_rf.predict(df_test)

In [394]:
df_test['Revenue_MF'] = y_pred_rf_mf

In [395]:
df_test.head(3)

,Sex,Age,Tenure,Count_CA,Count_SA,Count_MF,Count_OVD,Count_CL,ActBal_CA,ActBal_SA,ActBal_MF,ActBal_OVD,ActBal_CL,VolumeCred,VolumeCred_CA,TransactionsCred,TransactionsCred_CA,VolumeDeb,VolumeDeb_CA,VolumeDebCash_Card,VolumeDebCashless_Card,VolumeDeb_PaymentOrder,TransactionsDeb,TransactionsDeb_CA,TransactionsDebCash_Card,TransactionsDebCashless_Card,TransactionsDeb_PaymentOrder,Sale_MF,Revenue_MF
0,1.0,21.0,27.0,1.0,0.0,0.0,1.0,1.0,4.710714,0.0,0.000000,0.0,4291.996429,789.129643,738.230000,4.0,3.0,450.678571,448.892857,178.571429,0.000000,166.571429,8.0,7.0,1.0,0.0,4.0,0,0.0
1,1.0,37.0,175.0,1.0,0.0,4.0,1.0,0.0,1823.057143,0.0,18491.444286,0.0,0.000000,1033.496071,778.370000,8.0,6.0,661.483214,566.126071,89.285714,0.000000,216.892857,13.0,10.0,2.0,0.0,5.0,0,0.0
2,0.0,19.0,70.0,1.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,435.682143,435.682143,2.0,2.0,390.056429,390.056429,125.000000,70.842143,190.821429,10.0,10.0,4.0,3.0,2.0,0,0.0

In [ ]:
## Predicting Sales and Revenue from Mutual Funds to New Data

##### First, Predicting the sales of mutual fund using Logistic regression

df_test = pd.read_excel("Data\df_test.xlsx",engine='openpyxl')

df_test_client = df_test["Client"]

df_test.drop(['Unnamed: 0','Client'],inplace = True,axis =1)

##### Pre-Processing steps that we performed on Training

# dropping columns
columns_sale_cl = ['Count_CC','ActBal_CC']
df_test.drop(columns_sale_cl,inplace = True,axis = 1)

# replacing null values with U (Unknown) if any
df_test.Sex = df_test.Sex.replace(np.nan,"U",regex=True)

# converting M and F to 1 and 0
df_test.Sex = df_test.Sex.replace({'M':1, 'F':0,'U':2})

# imputing age with tenure + 120 months if tenure is more than Age
df_test.Age = np.where((df_test.Age *12 <= df_test.Tenure),round(df_test.Tenure/12) + 10,df_test.Age)

# imputing other null values with 0 in the data set
df_test.fillna(0,inplace = True)

col_test = df_test.columns
df_test.Age = df_test.Age.mask(df_test.Age <= 10)
df_test[col_test] = imputer.transform(df_test.values) 

# predicting the values using X_test data set
y_pred_lr_mf = model_lr.predict(df_test)

y_pred_lr_mf_prob_mf= model_lr.predict_proba(df_test)

y_pred_lr_mf_prob_mf[:,1]

df_test['Sale_MF'] = y_pred_lr_mf

df_test.head(3)

y_pred_rf_mf = model_rf.predict(df_test)

df_test['Revenue_MF'] = y_pred_rf_mf

df_test.head(3)