## Predicting Sales and Revenue New Data

In [104]:
#importing packages
import pandas as pd
import numpy as np
import pickle

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)

In [106]:
df = pd.read_excel("Data\df_pred.xlsx",engine='openpyxl')

In [107]:
df.drop(['Unnamed: 0'],inplace = True,axis =1)

In [108]:
df.head(3)

,Client,ProbablitySaleMF,RevenueMF,ProbablitySaleCL,RevenueCL,ProbablitySaleCC,RevenueCC
0,909,0.357088,0.0,0.444282,0.000000,0.313191,0.0
1,699,0.462286,0.0,0.564768,15.076298,0.427167,0.0
2,528,0.381130,0.0,0.535420,9.260791,0.400692,0.0

In [109]:
df['ExpectedRevenueMF'] = df.ProbablitySaleMF * df.RevenueMF
df['ExpectedRevenueCL'] = df.ProbablitySaleCL * df.RevenueCL
df['ExpectedRevenueCC'] = df.ProbablitySaleCC * df.RevenueCC

In [110]:
df.head(3)

,Client,ProbablitySaleMF,RevenueMF,ProbablitySaleCL,RevenueCL,ProbablitySaleCC,RevenueCC,ExpectedRevenueMF,ExpectedRevenueCL,ExpectedRevenueCC
0,909,0.357088,0.0,0.444282,0.000000,0.313191,0.0,0.0,0.000000,0.0
1,699,0.462286,0.0,0.564768,15.076298,0.427167,0.0,0.0,8.514611,0.0
2,528,0.381130,0.0,0.535420,9.260791,0.400692,0.0,0.0,4.958413,0.0

In [111]:
df['ExpectedRevenue'] = df[["ExpectedRevenueMF", "ExpectedRevenueCL","ExpectedRevenueCC"]].max(axis=1)

In [113]:
df = df.query("ExpectedRevenue != 0.0")

In [115]:
df['recommendedOffer'] = df[["ExpectedRevenueMF", "ExpectedRevenueCL","ExpectedRevenueCC"]].idxmax(axis=1).str[-2:]

In [119]:
df.sort_values(by=['ExpectedRevenue'], inplace=True, ascending=False)

In [120]:
df.head(3)

,Client,ProbablitySaleMF,RevenueMF,ProbablitySaleCL,RevenueCL,ProbablitySaleCC,RevenueCC,ExpectedRevenueMF,ExpectedRevenueCL,ExpectedRevenueCC,ExpectedRevenue,recommendedOffer
496,785,0.617006,35.949887,0.667054,14.251664,0.411408,0.000000,22.181278,9.506633,0.000000,22.181278,MF
294,197,0.398299,1.673977,0.319981,0.000000,0.802965,27.617582,0.666743,0.000000,22.175945,22.175945,CC
149,200,0.595330,34.863409,0.533456,7.863981,0.228517,0.000000,20.755217,4.195090,0.000000,20.755217,MF

In [130]:
df_final_recomend = df.iloc[0:100,:]

In [132]:
print("The Expected Revenue from Consumer Loan, Credit Card and Mutual Fund is: ",df_final_recomend.ExpectedRevenue.sum())

The Expected Revenue from Consumer Loan, Credit Card and Mutual Fund is:  1078.5911419525646

In [133]:
df_final_recomend.to_excel('Data\df_final_recomend.xlsx')